.App {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  background-color: grey;
  padding: 20px;
  color: white;
}

.table-container {
  min-height: 100vh;
  background-color: grey;
}

::placeholder {
  color: rgba(176, 174, 174, 0.5); /* Ajusta el color y la opacidad según tus preferencias */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
